.education-container {
    h3 {
        font-weight: bold;
    }

    .pdf-back {
      margin-top: 23px;     
    }

    #back-to-cat {
        text-decoration: none;
        color: #425582;
        font-size: 16px;

        .icon {
            margin-right: 10px;
            zoom: 0.5;
        }
    }

    ul {
        margin: 30px 0 0 0;
        padding: 0px;

        li {
            list-style-type: none;
            display: block;
            background-color: #fff;
            margin-bottom: 10px;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.35);

            a {
                color: #000;
                font-weight: bold;
                text-decoration: none;
                display: block;
                position: relative;

                .icon {
                    margin-right: 5px;
                }
            }
        }
    }
}
