/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-clock-white {
  background-image: url(../img/sprite.png);
  background-position: -256px -240px;
  width: 31px;
  height: 31px;
}
.icon-clock {
  background-image: url(../img/sprite.png);
  background-position: -225px -240px;
  width: 31px;
  height: 31px;
}
.icon-dropdown {
  background-image: url(../img/sprite.png);
  background-position: -193px -240px;
  width: 32px;
  height: 32px;
}
.icon-icon-back-black {
  background-image: url(../img/sprite.png);
  background-position: -80px -160px;
  width: 50px;
  height: 50px;
}
.icon-icon-back-white-small {
  background-image: url(../img/sprite.png);
  background-position: -288px -115px;
  width: 25px;
  height: 25px;
}
.icon-icon-back-white {
  background-image: url(../img/sprite.png);
  background-position: -180px -160px;
  width: 50px;
  height: 50px;
}
.icon-icon-back {
  background-image: url(../img/sprite.png);
  background-position: -130px -160px;
  width: 50px;
  height: 50px;
}
.icon-icon-clock {
  background-image: url(../img/sprite.png);
  background-position: -288px 0px;
  width: 31px;
  height: 31px;
}
.icon-icon-courses {
  background-image: url(../img/sprite.png);
  background-position: -240px -48px;
  width: 48px;
  height: 48px;
}
.icon-icon-education {
  background-image: url(../img/sprite.png);
  background-position: -288px -61px;
  width: 29px;
  height: 30px;
}
.icon-icon-folder-purple {
  background-image: url(../img/sprite.png);
  background-position: -288px -91px;
  width: 30px;
  height: 24px;
}
.icon-icon-hub {
  background-image: url(../img/sprite.png);
  background-position: -240px 0px;
  width: 48px;
  height: 48px;
}
.icon-icon-news {
  background-image: url(../img/sprite.png);
  background-position: -288px -31px;
  width: 30px;
  height: 30px;
}
.icon-icon-radio {
  background-image: url(../img/sprite.png);
  background-position: -126px -240px;
  width: 35px;
  height: 32px;
}
.icon-icon-video {
  background-image: url(../img/sprite.png);
  background-position: -80px -210px;
  width: 37px;
  height: 26px;
}
.icon-news-education {
  background-image: url(../img/sprite.png);
  background-position: -160px -80px;
  width: 80px;
  height: 80px;
}
.icon-news-events {
  background-image: url(../img/sprite.png);
  background-position: -80px 0px;
  width: 80px;
  height: 80px;
}
.icon-news-general {
  background-image: url(../img/sprite.png);
  background-position: -160px 0px;
  width: 80px;
  height: 80px;
}
.icon-news-gym {
  background-image: url(../img/sprite.png);
  background-position: -80px -80px;
  width: 80px;
  height: 80px;
}
.icon-news-lockdown {
  background-image: url(../img/sprite.png);
  background-position: 0px -80px;
  width: 80px;
  height: 80px;
}
.icon-news-pinned {
  background-image: url(../img/sprite.png);
  background-position: -161px -240px;
  width: 32px;
  height: 32px;
}
.icon-news-reminder {
  background-image: url(../img/sprite.png);
  background-position: 0px -160px;
  width: 80px;
  height: 80px;
}
.icon-news-sport {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 80px;
  height: 80px;
}
.icon-next-small-grey {
  background-image: url(../img/sprite.png);
  background-position: -288px -161px;
  width: 20px;
  height: 21px;
}
.icon-next-small {
  background-image: url(../img/sprite.png);
  background-position: -288px -140px;
  width: 20px;
  height: 21px;
}
.icon-pause-button-green {
  background-image: url(../img/sprite.png);
  background-position: -240px -96px;
  width: 42px;
  height: 42px;
}
.icon-pause-button-white {
  background-image: url(../img/sprite.png);
  background-position: -84px -240px;
  width: 42px;
  height: 42px;
}
.icon-pause-button {
  background-image: url(../img/sprite.png);
  background-position: -42px -240px;
  width: 42px;
  height: 42px;
}
.icon-play-button-green {
  background-image: url(../img/sprite.png);
  background-position: -240px -180px;
  width: 42px;
  height: 42px;
}
.icon-play-button-white {
  background-image: url(../img/sprite.png);
  background-position: -240px -138px;
  width: 42px;
  height: 42px;
}
.icon-play-button {
  background-image: url(../img/sprite.png);
  background-position: 0px -240px;
  width: 42px;
  height: 42px;
}
.icon-prev-small-grey {
  background-image: url(../img/sprite.png);
  background-position: -288px -182px;
  width: 20px;
  height: 21px;
}
.icon-prev-small {
  background-image: url(../img/sprite.png);
  background-position: -288px -203px;
  width: 20px;
  height: 21px;
}
