.programme-description {
    p {
        color: #000;
        font-size: 11px;
    }
}

.card.radio-card {
    .programme-text {
        h4 {
            padding-top: 10px;
        }
    }
}

.equaliser {
    position: absolute;
    bottom: 0;
    left: 0;
}
