.radio-header {
    padding:  3em 0 3em;
    color: #fff;

    h1 {
        margin-bottom: 50px;
        color: #fff;
    }
}

.radio-description {
    text-align: center;
    margin: 80px 150px;
}

.programme-description {
    p {
        color: #000;
        font-size: 11px;
    }
}

.card.radio-card {
    .programme-text {
        h4 {
            padding-top: 10px;
        }
    }
}

.equaliser {
    position: absolute;
    bottom: 0;
    left: 0;
}

.radio-title {
    text-align: center;
    margin-bottom: 20px;
    margin: auto;
    a {
        text-decoration: none;
        padding-bottom: 10px;
        color: #ffffff;
    }
}
