.radio-header {
    height: 400px;
    background-size: cover !important;
    text-align: center;
    position: relative;
    h1 {
        color: #fff;   
    }    
    p {
        color: #fff;
    }
    #header {
        z-index: 999999;
        position: relative;
    }
    .back-to-hub {
        width: 130px;    
        #radio-return-to-the-hub-arrow {
            height: 35px;
            width: 45px;
            margin-right: 10px;
        }
    }

    .video-js {
        width: 100%;            
        background-color: transparent;
        display: block;
        position: absolute;
        height:  400px;
        top: 0;
        .vjs-control-bar {
            top: 0;            
            height: 100%;
            .vjs-play-control {
                z-index: 99;
                height: 50px;
            }
            .vjs-mute-control {
                z-index: 99;
                height: 50px;
            }
            .vjs-volume-control {
                margin-left: -50px;
                position: absolute;
                left: 50%;
                width: 100px;
                z-index: 99;
                height: auto;
                top: 65%;
                .vjs-slider-horizontal {
                    width: 100%;                    
                    margin: 0px;
                }
            }
            .vjs-current-time {
                display:block;             
                height: auto;
                position: absolute;
                top: 400px;
                color: blue;
                &::after {
                    content: "/";
                    position: absolute;
                    right: 0;
                }
                .vjs-current-time-display {                    
                    height: auto;
                }
            }
            .vjs-duration {
                display: block;
                height: auto;
                position: absolute;
                bottom: -30px;
                color: black;
                left: 37px;
            }
            .vjs-progress-control {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                background: transparent;
                pointer-events: none;
                .vjs-slider-horizontal {
                    width: 100%;
                    height: 100%;
                    margin: 0px;
                    background: transparent;
                    .vjs-play-progress {
                        height: 100%;
                        background:rgba(0,0,0,0.3);
                        &::before {
                            top: auto;
                            bottom: -0.5em;                         
                        }
                    }
                }
            }
            .vjs-remaining-time {
                margin-top: 20px;
                height: auto;
            }
        }
        .vjs-big-play-button {
            display: none;       
        }

        .vjs-control-bar {
            display: block !important;        
            background: transparent;
        }
    }

    #equaliser {
        background: url("/img/img-equaliser.png") 50% no-repeat;
        background-size: cover;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 155px;
    }
}

.radio-container {
    .icon {
        zoom: 0.5;        
    }
    .show-playing {
        background-color: #1E90FF;
        a {
            color: #fff;
        }
    }    
}

