$card-gutter: 20px;     // The distance between cards
$card-border-radius: 0.5em;

.channel-programmes {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
}

.card.programme-card {
    max-width: 25%;
    width: 25%;
    padding: 0 10px 20px 10px;
    transition: all 100ms;

    .programme-title {
        padding: 0.75em;
        h6 {
            margin: 0;
            line-height: 21px;
        }
    }

    .shadow {
        box-shadow: 0 1px 4px 0 #A1AAC1;
        border-radius: $card-border-radius;
        width: 100%;
        background-color: #fff;
    }

    img {
        max-width: 100%;
        width: 100%;
        display: block;
        border-radius: 0.5em 0.5em 0 0;
    }

    a {
        text-decoration: none;
    }
    
    &:hover {
        transform: scale(1.1);
        
        .programme-title h6 {
            color: #32B39C;
        }

        .shadow {
            box-shadow: 0 2px 8px 0 #A1AAC1;
        }
    }
}

.radio-card .overlay a {
    background: transparent url(/img/equaliser.png) bottom center no-repeat;
    background-size: contain;
    h4 {
        position: absolute !important;
        bottom: -7px !important;
    }
}
