/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/

//Bootstrap Grid Framework CSS
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";

@import "colours";
@import "fonts";
@import "typography";
@import "video/video-detail";
@import "video/programme-card";
@import "video/carousel";
@import "video-js";
@import "hub/hub";
@import "pdf/pdf";
@import "news/news";
@import "radio/radio-landing";
@import "radio/radio-detail";
@import "jquery.modal";
@import "errors/errors";
@import "sticky-navigation";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
  font-family: "Open Sans", sans-serif;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.header-nav-wrap {
  z-index: 1;
  margin-top: 96px;
  color: #fff;
  font-size: 21px;
  text-align: center;
  line-height: 24px;
  padding: 64px 0;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);

  background: no-repeat 50%;
  background-size: cover;

  &.video {
    background-color: $colour-red;
    background-image: url(/img/video-landing.jpg);
  }

  &.radio {
    background-color: $colour-light-blue;
    background-image: url(/img/radio-landing.jpg);
  }

  &.news {
    background-color: $colour-yellow;
    background-image: url(/img/news-announcements.jpg);
  }

  &.education {
    background-color: $colour-purple;
    background-image: url(/img/edu_banner.jpg);
    margin-bottom: 50px;
  }
}

#page-icon {
  height: 26px;
  width: auto;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  margin: auto;
  a {
    text-decoration: none;
    padding-bottom: 10px;
  }

  &.white {
    color: #ffffff;

    a {
      color: #ffffff;
    }
  }

  &.black {
    color: #000000;

    a {
      color: #000000;
    }
  }
}
