/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/

//Bootstrap Grid Framework CSS
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";

@import "fonts";
@import "typography";
@import "video/video-detail";
@import "video/programme-card";
@import "video/carousel";
@import "video-js";
@import "hub/hub";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
  font-family: "Open Sans", sans-serif;
}

#return-to-the-hub-text {
    display: inline-block;
    position: absolute;
    font-size: 17px;
    padding-left: 40px;
    width: 11%;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
}

#return-to-the-hub-arrow {
  display: inline-block;
  position: absolute;
  background-size: 35px;
  background-repeat: no-repeat;
  padding-right: 70px;
}

.video-nav-wrap-navBarBlue {
  padding: 3em 0;
  background: rgb(14, 26, 53);
  color: #ffffff;
}

.video-nav-wrap-navBarRed {
  padding: 3em 0;
  background: #E23A38;
  color: #ffffff;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  margin: auto;
  a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 10px;
  }
}
