/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/

//Bootstrap Grid Framework CSS
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";

@import "fonts";
@import "typography";
@import "video/video-detail";
@import "video/programme-card";
@import "video/carousel";
@import "video-js";
@import "hub/hub";
@import "pdf/pdf";
@import "news/news";
@import "jquery.modal";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
  font-family: "Open Sans", sans-serif;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.header-nav-wrap {
  padding: 3em 0 0;
  color: #ffffff;

  &.blue {
    background: rgb(14, 26, 53);
  }

  &.red {
    background: #E23A38;
  }

  &.yellow {
    background: #FFD700;
  }
}

#page-icon {
  height: 26px;
  width: auto;
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  margin: auto;
  a {
    text-decoration: none;
    padding-bottom: 10px;
  }

  &.white {
    a {
      color: #ffffff;
    }
  }

  &.black {
    a {
      color: #000000;
    }
  }
}
