/*@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";*/

//Bootstrap Grid Framework CSS
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid-framework";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/grid";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";

@import "fonts";
@import "typography";
@import "video/video-detail";
@import "video/programme-card";
@import "video/carousel";
@import "video-js";
@import "hub/hub";
@import "pdf/pdf";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #efefef;
  font-family: "Open Sans", sans-serif;
}

.video-nav-wrap {
  padding: 3em 0 0;
  color: #ffffff;

  &.nav-bar-blue {
    background: rgb(14, 26, 53);
  }

  &.nav-bar-red {
    background: #E23A38;
  }
}

.page-title {
  text-align: center;
  margin-bottom: 20px;
  margin: auto;
  a {
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 10px;
  }
}
