.top-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    height: 96px;
    z-index: 10;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.20);

    .navigation-title {
        text-align: center;
        font-size: 24px;
        margin-top: 27px;

        a {
            text-decoration: none;
            color: #000;
        }

        a:active {
            background: #F4F4F4;
        }

        &.red {
            a:hover {
                padding: 36px 100px;
                border-bottom: solid 3px #E23A38;
                color: #E23A38;
            }
        }
        &.blue {
            a:hover {
                padding: 32px 100px;
                border-bottom: solid 3px #3498DB;
                color: #3498DB;
            }
        }
        &.yellow {
            a:hover {
                padding: 33px 100px;
                border-bottom: solid 3px #F5A623;
                color: #F5A623;
            }
        }
        &.purple {
            a:hover {
                padding: 32px 100px;
                border-bottom: solid 3px #895BB8;
                color: #895BB8;
            }
        }
    }

    .icon {
        vertical-align: sub;
    }

    .back-to-the-hub-text {
        top: 29px;
        left: 88px;
    }
}

.back-to-hub {
    float: left;
    margin-top: 22px;
    margin-right: -150px;
    margin-left: 12px;

    .hub-content & {
        margin-top: 30px;
        position: relative;
    }

    :hover {
        color: #32B39C;
    }

    :active {
        color: #A1AAC1;
    }
}

.back-to-the-hub-text {
    font-weight: 600;
    display: inline-block;
    position: absolute;
    font-size: 16px;
    line-height: 18px;
    width: 90px;
    text-align: left;
    text-decoration: none;
    color: #425582;
    top: 8px;
    left: 60px;
}