.news-header {
  padding:  3em 0 3em;

  h1 {
    margin-bottom: 50px;

  }
}

.news-item {
  padding:  0 0 3em;
}

.news-items {
  padding:  4em 0 0;

  .posted-ago {
     color: #b3b3b3;
     width: 100%;
     text-align: center;
     border-bottom: 1px solid #b3b3b3;
     line-height: 0.1em;
     margin: 10px 0 20px;
     display: block;

     span {
         background:#efefef;
         padding:0 10px;
     }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #b3b3b3;
    margin: 1em 0;
    padding:  0 0 1em;
  }

  .posted-ago + hr {
    display: none;
  }
}

.jump-to {
  background: #FFFFFF;
  padding:  0.5em 0 0.5em;
  margin: 60px 0px 0px;
  border-radius: 15px;

  a {
    color: #00cccc;
    text-decoration: none;
  }

  p {
      font-weight: bold;
  }

  li {
      margin: 5px 0;
  }
}

h1 {
  color: #000000;
}

h3 {
  font-weight: bold;
  color: #000000;
}
