.hub-content {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 202px;
    position: relative;

    h4 {
        font-size: 21px;
        color: #0E1A35;
    }

    .hub-title {
        position: absolute;
        top: -160px;
        width: 100%;
        img {
          width: 95px;
        }
    }

    .hub-thumb {
        position: absolute;
        top: 65px;
        width: 100%
    }

    ul {
        padding: 0px;
        li {
            display: inline-block;
            list-style-type: none;
            vertical-align: top;
            img {
                max-width: 100%;
                width: 100%;
            }
            a {
                text-decoration: none;
            }
        }
    }
}

.page-title {
    top: -35px;
    padding-bottom: 13px;
}
